*, *:before, *:after {
  box-sizing: inherit
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body,
input {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  /*background-color: #555;*/
}

.wrap {
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.backdrop-container {
  display: inline-block;
}

/* Backdrop */

.Backdrop {
  display: inline-block;
}

.Backdrop-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  padding: 20px;
  background-color: #f0f0f0;
  /*background-color: #333;*/
  border-radius: 3px;
}

.Backdrop-avatarBox {
  position: relative;
  width: 128px;
  height: 128px;
  background-color: transparent;
  border: 3px solid #455054;
  /*border: 3px solid #666;*/
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.Backdrop-emptyAvatar,
.Backdrop-addPhoto {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.Backdrop-emptyAvatar {
  opacity: .125;
}

.Backdrop-addPhoto {
  bottom: 10px;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: rgba(69,80,84, .5);
  /*background-color: rgba(255,255,255, .1);*/
  border-radius: 3px;
  white-space: nowrap;
  transition: background-color .2s ease-in-out;
}
.Backdrop-avatarBox:hover .Backdrop-addPhoto {
  background-color: rgba(69,80,84, .75);
}

.Backdrop-info {
  margin-left: 20px;
  color: #455054;
  /*color: #aaa;*/
}

.Backdrop-info-name {
  font-size: 24px;
  font-weight: 500;
}

.Backdrop-info-handle {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
}
